

@media only screen and (min-width: 600px){
.nombreToquePrincipal{
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.textoVertical{
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 5px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
}

.cartelVertical{
    width: 50px;
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: -20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}
.espacio{
    height: 15px;
}

.elementoTable{
    background-color: rgba(0,0,0,0.5);
    padding-right: 10px;
    border-radius: 5px;
    margin: 2px;
}

.contador{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    margin:0px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
}

.rowNoCentrado{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.subtituloBanda{
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin:0px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 10px;
    color: white;
    align-self: center;
}

.tiempoTimer{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin:0px;
    font-weight: 500;
    margin-left: 10px;
    color: white
}
.centrado{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex: 3,
}

.divCountdown{
    display: flex;
    flex-direction: row;
}

.logo{
    flex: 1
}

.logoDestacado{
    border-radius: 5px;
    width: 80%;
}

.columna3{
    flex: 3;
}

.columna1{
    flex: 3;
    align-items: center;
    justify-content: center;
}

.integrantesDiv{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.integrantes{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.integrantesItem{
    flex: 1;
}

.descripcion{
    font-size: 9px;
    margin-top: 10px;
}

.iconoDestacado{
    margin-left: 10px;
    margin-top: 10px;
}

.estrellaDestacado{
    margin-top: -50px;
}

.rowDestacado{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.rowDestacado2{
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

.columnDestacado{
    display: flex;
    flex-direction: column;
    flex:4;
    align-items: center;
    justify-content: center;
}
.columnDestacado2{
    display: flex;
    flex-direction: column;
    flex:4;
    align-items: center;
    justify-content: center;
}
.divAsistentesDestacado{
    padding-top: 5px;
    padding-bottom: 5px;
}

.cantidadAsistentesNegro{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 16px;
    color: black;
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.cantidadAsistentesVerde{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 16px;
    color: green;
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.textoBotonDestacado{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin: 0;
}

.cantidadAsistentesDestacado{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
.iconoAsistireDestacado{
    margin-top: 10px;
    margin-bottom: 10px;
}
}
@media only screen and (max-width: 600px){


    .estrellaDestacado{
        margin-top: -45px;
    }

    .elementoTable{
        background-color: rgba(0,0,0,0.5);
        padding-right: 8px;
        margin: 2px;
        border-radius: 5px;
    }


    .contador{
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        margin:0px;
        margin-left: 8px;
        font-weight: 700;
        color: white;
    }
    
    .rowNoCentrado{
        display: flex;
        flex: 1;
        flex-direction: row;
    }


    .nombreToquePrincipal{
        font-family: 'Cairo', sans-serif;
    font-size: 18px;
    margin:0px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    }
    
    .subtituloBanda{
        font-family: 'Cairo', sans-serif;
        font-size: 24px;
        margin:0px;
        margin-bottom: 20px;
        font-weight: 700;
        margin-left: 10px;
        color: white;
        align-self: center;
    }
    
    .tiempoTimer{
        font-family: 'Cairo', sans-serif;
        font-size: 12px;
        margin:0px;
        font-weight: 500;
        margin-left: 10px;
        color: white;
    }
    .centrado{
        display: flex;
        flex-direction: row;
        text-align: center;
        flex: 3;
        margin-top: 10px;
        margin-bottom: 0;
        padding:0;
    }
    
    .divCountdown{
        display: flex;
        flex-direction: row;
    }
    
    .logo{
        flex: 1
    }
    
    .logoDestacado{
        border-radius: 2px;
        width: 80%;
        margin-top: -10px;
    }
    
    .columna3{
        flex: 1;
    }
    .columna1{
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    
    .integrantesDiv{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px;
    }
    .integrantes{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .integrantesItem{
        flex: 1;
    }
    
    .descripcion{
        font-size: 9px;
        margin-top: 10px;
    }

    .textoVertical{
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Cairo', sans-serif;
        font-size: 11px;
        font-weight: 700;
        line-height: 5px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        color: white;
    }
    
    .cartelVertical{
        width: 50px;
        display: flex;
        flex-direction: row;
        margin:0;
        padding: 0;
        height: 100%;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: -20px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: black;
    }

    .cantidadAsistentesNegro{
        font-family: 'Cairo', sans-serif;
        margin: 0px;
        font-size: 16px;
        color: black;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .cantidadAsistentesVerde{
        font-family: 'Cairo', sans-serif;
        margin: 0px;
        font-size: 16px;
        color: green;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .rowDestacado{
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
    }

    .rowDestacado2{
        display: flex;
        flex-direction: row;
        flex: 3;
        align-items: center;
    }
    
    .columnDestacado{
        display: flex;
        flex-direction: column;
        flex:3;
        align-items: center;
        justify-content: center;
    }

    .columnDestacado{
        display: flex;
        flex-direction: column;
        flex:4;
        align-items: center;
        justify-content: center;
    }

    .divAsistentesDestacado{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .cantidadAsistentesDestacado{
        font-family: 'Cairo', sans-serif;
        font-size: 13px;
        font-weight: 600;
        margin: 0;
    }

    .iconoAsistireDestacado{
        margin-top: 10px;
    }

    
    .textoBotonDestacado{
        font-family: 'Cairo', sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .space{
        height: 10px;
    }
}