@media only screen and (min-width: 600px){
.nombreToquePrincipal{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    margin:0px;
    font-weight: 700;
    margin-left: 10px;
        margin-top: -15px;
        margin-bottom: 5px;
    text-transform: uppercase;
}

.espacio{
    height: 15px;
}

.elementoTable{
    background-color: rgba(0,0,0,0.5);
    padding-right: 10px;
    border-radius: 5px;
}

.contador{
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    margin:0px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
}

.rowNoCentrado{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.subtituloBanda{
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin:0px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 10px;
    color: white;
    align-self: center;
}

.tiempoTimer{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin:0px;
    font-weight: 500;
    margin-left: 10px;
    color: white
}
.centrado{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex: 3,
}

.divCountdown{
    display: flex;
    flex-direction: row;
}

.logo{
    flex: 1
}

.logoDestacado{
    border-radius: 5px;
    width: 80%;
}

.columna3{
    flex: 3;
}
.columna1{
    flex: 2;
    align-items: center;
    justify-content: center;
}

.integrantesDiv{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.integrantes{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.integrantesItem{
    flex: 1;
}

.descripcion{
    font-size: 9px;
    margin-top: 10px;
}

.iconoDestacado{
    margin-left: 10px;
    margin-top: 10px;
}

.estrellaDestacado{
    margin-top: -50px;
}
}
@media only screen and (max-width: 600px){

    .estrellaDestacado{
        margin-top: -45px;
    }

    .elementoTable{
        background-color: rgba(0,0,0,0.5);
        padding-right: 8px;
        border-radius: 5px;
    }


    .contador{
        font-family: 'Cairo', sans-serif;
        font-size: 18px;
        margin:0px;
        margin-left: 8px;
        font-weight: 700;
        color: white;
    }
    
    .rowNoCentrado{
        display: flex;
        flex: 1;
        flex-direction: row;
    }


    .destacadosDiv{
        margin-top: 20px;
    }
    .nombreToquePrincipal{
        font-family: 'Cairo', sans-serif;
    font-size: 14px;
    margin:0px;
    font-weight: 700;
    margin-left: 15px;
        margin-top: -15px;
        margin-bottom: 5px;
    text-transform: uppercase;
    }
    
    .subtituloBanda{
        font-family: 'Cairo', sans-serif;
        font-size: 24px;
        margin:0px;
        margin-bottom: 20px;
        font-weight: 700;
        margin-left: 10px;
        color: white;
        align-self: center;
    }
    
    .tiempoTimer{
        font-family: 'Cairo', sans-serif;
        font-size: 12px;
        margin:0px;
        font-weight: 500;
        margin-left: 10px;
        color: white;
    }
    .centrado{
        display: flex;
        flex-direction: row;
        text-align: center;
        flex: 3,
    }
    
    .divCountdown{
        display: flex;
        flex-direction: row;
    }
    
    .logo{
        flex: 1
    }
    
    .logoDestacado{
        border-radius: 2px;
        width: 80%;
        margin-top: -10px;
    }
    
    .columna3{
        flex: 1;
    }
    .columna1{
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    
    .integrantesDiv{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px;
    }
    .integrantes{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .integrantesItem{
        flex: 1;
    }
    
    .descripcion{
        font-size: 9px;
        margin-top: 10px;
    }
}