.comentariosContainer{
    height: 150px;
    overflow: auto;
    display: 'block';
    width: 100%;
}

.usuarioComentario{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.comentarioComentario{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.comentario{
    width: 100%;
    background-color: rgba(110, 137, 177, 0.2);
    border-radius: 5px;
}

.fechaComentario{
    font-family: 'Cairo', sans-serif;
    font-size: 9px;
    margin: 0px;
    margin-top: -3px;
    padding-left: 10px;
}