.comentariosContainer{
    height: 150px;
    overflow: auto;
    display: 'block';
    width: 100%;
}

.usuarioComentario{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
}

.comentarioComentario{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    margin: 0px;
}

.comentario{
    width: 100%;
}