.rowEstrellas{
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media only screen and (min-width: 600px){

    
.columnEstrellas1{
    flex-direction: column;
    flex: 1;
}

.columnEstrellas2{
    flex-direction: column;
    flex: 2;
}

.estrellaAmarilla{
    color: skyblue;
}

.estrellaGris{
    color: grey;
}

.estrellas{
    margin-bottom: 15px;
    margin-left: 20px;
}

.comentarios{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.divOpinar{
    align-self: center;
    padding: 20px;
    margin-bottom: 15px;
}

.divComentarios{
    height: 100%;
    overflow: auto;
    display: 'block';
    width: 100%;
    padding-top: 30px;
    padding-bottom:60px;
    margin-bottom: 60px;
    padding-left: 15px;
}

.puntuaToque{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    margin:0px;
    font-weight: 600;
}
.textoOpinion{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin:0px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.explicacion{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 3px;
}

.agregadoExito{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: green;
}

.iconoComentarios{
    width: 50%;
    margin:10px;
}
}

@media only screen and (max-width: 600px){

.divOpinar{
    align-self: center;
    margin: 0px;
    padding: 15px;
}
.estrellaAmarilla{
    color: skyblue;
    width: 30px;
}

.estrellaGris{
    color: grey;
    width: 30px;
}

.estrellas{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.comentarios{
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.puntuaToque{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    margin:0px;
    font-weight: 700;
}

.divComentarios{
    height: 100%;
    overflow: auto;
    display: 'block';
    width: 100%;
    padding-bottom:30px;
    padding-top: 20px;
    padding-left: 15px;
}


.textoOpinion{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin:0px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.textoBoton{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
}

.explicacion{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 3px;
}

.agregadoExito{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: green;
}

.iconoComentarios{
    width: 70%;
    margin:10px;
}
}