.centradoProximos{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.noHayToques{
    font-family: 'Cairo', sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 40px;
    padding-top:100px;
    text-align: center;
    align-self: center;
}
@media only screen and (min-width: 600px){
.flyerToque{
    width :350px;
    align-self: center;
}

.divAgregar{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textoCaracteristicas{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;

}

.textoDescripcion{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

.rowProximoToque{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.saberMas{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
}

.iconoSocial{
    margin: 0px;
    margin-left: 10px;
}

.espacio{
    height: 20px;
}


.textoComprar{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin:0
}

.tablaInfo{
    margin-top: 10px;
}
}


@media only screen and (max-width: 600px){
    .flyerToque{
        width :200px;
        align-self: center;
    }

    .iconoSocial{
        margin: 0px;
        margin-left: 10px;
    }
    
    .saberMas{
        font-family: 'Cairo', sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin: 0px;
    }
    .textoCaracteristicas{
        font-family: 'Cairo', sans-serif;
        font-size: 14px;
    
    }
    
    .textoDescripcion{
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        padding: 15px;
    }
    
    .rowProximoToque{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .espacio{
        height: 20px;
    }

    .textoComprar{
        font-family: 'Cairo', sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .tablaInfo{
        margin-top: 10px;
    }
    .divAgregar{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}