.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }

@media only screen and (min-width: 600px){

  
  .rowUbicacionFecha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    width: 100%;
  }

  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
  }

  .rowHeaderModal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: red;
  }

  .column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 1;
  }

  .column4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 4;
  }

  .fechaHora{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
  }

  .lugar{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    margin-top: -5px;
    font-size: 11px;
    font-weight: 600; 
  }

  .columna1 {
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 2;
  }

  .columnaAlineadoDerecha {
    display: flex;
    align-items: right;
    justify-content: center;
    margin-right: 20px;
    flex-basis: 100%;
    flex:1;
  }

  .columnaEstrellas{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;     
     justify-content: center;
  }

  .columnaDerecha {
    align-items: right;
    justify-content: center;
    flex-basis: 100%;
    flex: 1;
  }

  .caracteristicas{
      display: flex;
      flex-direction: column;
      padding-top: 5px;
  }

  .iconoToque{
      height: 50px;
  }

  .columna3 {
    flex: 4;
  }


  .iconoAsistentes{
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
  }

  .columnaDoble {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
  }

.labelProximos{
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    height: 90px;
    width: 100%;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.labelProximos:hover{
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    height: 90px;
    width: 100%;
    margin: 0px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.iconoLugar{
    margin-right: 5px;
}
.labelFinalizado{
    border-radius: 2px;
    height: 70px;
    width: 100%;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.labelFinalizado:hover{
    border-radius: 2px;
    height: 70px;
    width: 100%;
    margin: 0px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.nombreToque{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    text-transform: uppercase;
}

.cantidadAsistentesVerde{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 16px;
    color: green;
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.cantidadAsistentesNegro{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 16px;
    color: black;
    margin-left: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.cantidadAsistentesOpinion{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 12px;
    color: green;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.inline{
    display: flex;
    flex-direction: row;
}
.fecha{
    font-family: 'Cairo', sans-serif;
    display: flex;
    text-align: right;
}

.estrellas{
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline;
    margin-right: 15px;
}

.rowLike{
    display: flex;
    margin-left: auto;
}

.corazon{
    margin-top: 15px;
    margin-right: 20px;
}
.estrella{
    display: inline;
}

.comentarios{
    margin: 0px;
    font-family: 'Cairo', sans-serif;
}

.iconoUbicacion{
    margin: 0px;
    margin-left: 13px;
}


.guitarra{
    background-color: rbga(255,255,255,0.8);
}

.textoBoton{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin:5px;
}


.divBoton{
    margin-top: 20px;
    text-align: center;
}

.alineoDerecha{
    display: flex;
    margin-left: auto;
}

.textoLugar{
    margin: 0px;
}

.tablaCaract{
    border-radius: 5px;
    width: 80%;
}

.divAgregar{
    display: flex;
    align-content: center;
}

.campoTablaIcono{
    width: 15%;
}
.campoTablaTexto{
    width: 30%;
    align-content: center;
    text-align: center;
}



.botonAsistire,
.botonNoAsistire{
    width: 85%;
    align-self: center;
}

.resumenEstrellasOpinion{
    margin:0;
    margin-left:10px;
    margin-top: -3px;
}

.resumenComentariosOpinion{
    margin:0;
    margin-left: 10px;
}


.detalleUbicacionToque{
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.img-with-text {
    text-align: justify;
}
.cuantoFalta{
    font-size: 14px;
    font-weight: 700;
}
.iconoRock{
    width: 20px;
}

.iconoRockGrande{
    width: 40px;
}

.iconoCantidadUsuarios{
    margin-bottom: -5px;
    margin-left: 3px;
}

.tickAsisitire{
    margin-top: 5px;
    margin-left: 5px;
}

}

@media only screen and (max-width: 600px){

    .tickAsisitire{
        padding-top: 7px;
        padding-left: 3px;
    }
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
  }

  .column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 1;
  }

  .column4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 4;
  }

  .fechaHora{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    margin-top: 5px;
    font-size: 12px;
  }

  .lugar{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    font-size: 11px;
    font-weight: 600; 
    margin-top: -5px;
  }

  
    .iconoRock{
        width: 20px;
    }
    .iconoRockGrande{
        width: 40px;
    }
    .cuantoFalta{
        font-size: 14px;
        font-weight: 700;
    }
    .detalleUbicacionToque{
        margin: 0px;
        font-family: 'Cairo', sans-serif;
        font-size: 10px;
        font-weight: 700;
        margin-top: -5px;
    }
    
    .img-with-text {
        text-align: justify;
        margin-top: 0px;
        align-self: center;
    }
    .cantidadAsistentesVerde{
        font-family: 'Cairo', sans-serif;
        margin: 0px;
        font-size: 14px;
        color: green;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .cantidadAsistentesNegro{
        font-family: 'Cairo', sans-serif;
        margin: 0px;
        font-size: 14px;
        color: black;
        margin-left: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .divEstrellasOpinion{
        margin-top: 6px;
    }
    .cantidadAsistentesOpinion{
        font-family: 'Cairo', sans-serif;
        margin: 0px;
        font-size: 12px;
        color: green;
        margin-left: 15px;
        margin-top: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .iconoToque{
        margin-top: 5px;
        height: 30px;
    }
    .caracteristicas{
        display: none;
    }
    
  .columna1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    flex: 1;
  }
  .columna4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex: 4;
  }
  .columna3{
      flex: 4;
      text-align: left;
  }

  .iconoCantidadUsuarios{
    margin-bottom: -5px;
    margin-left: 3px;
}
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      .rowCentrado {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
      }

      .rowUbicacionFecha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }


      .columnaDoble {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 2;
      }
    

    .labelFinalizado{
        border-radius: 5px;
        height: 70px;
        width: 100%;
        margin: 0px;
        background: rgba(255, 255, 255, 0.8);
    }
    
    .labelFinalizado:hover{
        border-radius: 5px;
        height: 70px;
        width: 100%;
        margin: 0px;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    
    .labelProximos{
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        height: 80px;
        width: 100%;
        margin: 0px;
        background: rgba(255,255,255,0.8);
    }

    .nombreToque{
        font-family: 'Cairo', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px;
        font-size: 14px;
        font-weight: bold;
        margin-left: 15px;
        margin-top:10px;
        line-height: 20px;
        
    }

    .ubicacionToque{
        font-family: 'Cairo', sans-serif;
        font-weight: 600;
        font-size: 10px;
        margin-left: 5px;
        margin-top: 0px;
    }
    
    .fecha{
        font-family: 'Cairo', sans-serif;
        font-weight: 800;
        display: flex;
        text-align: right;
    }
    
    .estrellas{
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline;
        margin-right: 10px;
    }
    
    .rowLike{
        display: flex;
        align-content: center;
    }
    
    .corazon{
        margin-top: 10px;
    }
    .estrella{
        display: inline;
    }
    
    .comentarios{
        font-family: 'Cairo', sans-serif;
        margin-top:3px;
        font-size: 14px;
    }
    
    .iconoUbicacion{
        margin-left: 15px;
    }
    
    
    .guitarra{
        background-color: rbga(255,255,255,0.8);
    }

    .textoBoton{
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin:5px;
    }
    
    .divBoton{
        margin-top: 20px;
        text-align: center;
    }
    
    .alineoDerecha{
        display: flex;
        margin-left: auto;
    }
    
    .tablaCaract{
        border-radius: 5px;
        width: 90%;
    }
    
    .campoTabla{
        width: 25%;
    }

    .mapa{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .columnBoton{
        display: flex;
    }

    .botonAsistire{
        width: 85%;
    }

    .botonNoAsistire{
        width: 85%;
        background-color: tomato;
    }
    .azules{
        color: skyblue
    }
    
.resumenEstrellasOpinion{
    margin:0;
    margin-left:10px;
    margin-top: 0px;
}

.resumenComentariosOpinion{
    margin:0;
    margin-left: 10px;
}

.iconoLugar{
    margin-right: 5px;
}
}
